body{

background:#111;
color:white;
font-family:Arial;
text-align:center;

}

input{

padding:10px;
width:250px;
font-size:16px;

}

button{

padding:10px 20px;
font-size:16px;
cursor:pointer;

}

#movies{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
padding:30px;

}

.movie{

background:#222;
padding:10px;
border-radius:10px;

}

.movie img{

width:100%;
border-radius:10px;

}
#movies{

display:grid;
grid-template-columns:repeat(auto-fill,200px);
gap:20px;
justify-content:center;

}

.movie{

cursor:pointer;
transition:0.3s;

}

.movie:hover{

transform:scale(1.1);

}

.modal{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.9);

display:flex;
align-items:center;
justify-content:center;
}

.modal-content{
background:#111;
padding:30px;
width:600px;
max-width:90%;

max-height:90vh;
overflow-y:auto;

text-align:center;
border-radius:10px;
position:relative;
}
#detailPoster{

width:300px;
max-width:100%;
border-radius:8px;

}

.close{

position:absolute;
top:20px;
right:30px;
font-size:30px;
cursor:pointer;

}
iframe{
width:100%;
max-width:560px;
margin-top:20px;
}

#favorites{

display:grid;
grid-template-columns:repeat(auto-fill,150px);
gap:20px;
justify-content:center;

}

#similar{

display:flex;
gap:10px;
overflow-x:auto;
margin-top:20px;

}

.similarMovie{

width:120px;
cursor:pointer;
transition:0.3s;

}

.similarMovie:hover{

transform:scale(1.1);

}